@import './custom-properties.css';

html {
  font-family: 'Cabin', sans-serif;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  overflow-x: hidden;
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 0px; /* change this to show scroll */
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(10, 10, 10, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b4bcc7;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  
}

.inside-nav {
  display: inline-block;
  margin: 0 auto;
  
  @nest & a {
    padding: 0.5rem;
    margin: 0.1rem;
  } 
}

.social-links-section {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.social-links-section a {
    color: black;
    padding: 0.1rem;
    margin: 0.5rem 1rem;
    transition: all 200ms ease-in-out;
    font-size: 1.17rem;
}
  
.social-links-section a:hover {
    transform: scale(1.15);
    color: var(--color-accent)
}


.social-links-footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  margin: 0 1em;
}

.social-links-footer a {
  padding: 0.5em;
  margin: 0.2em;
  transition: all 180ms ease-in-out 
}

.social-links-footer a:hover {
  transform: scale(1.1);
}




body {
  -webkit-font-smoothing: antialiased;
  background: rgb(243, 248, 252);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
