.about-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;

  @media (--media-min-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.about-pics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  top: 50%;
  bottom: 50%;
}

.about-pics div{
  color: #fff;
  opacity: 0.7;
  background: transparent;
}

.about-pics div:focus{
  outline:none;
}

.about-pics div:hover{
  opacity: 1;
}

